body{
    background-color: rgb(205, 255, 232);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

#new_slab{
    position: absolute;
    top:10em;
    left:30em;
    width:40em;
    height: 15em;
    overflow: auto; 
}

#slab_details{
    height: 15em;
    overflow: auto;
    width: 40em;
}

#slab_details th{
    background-color: rgb(245, 150, 35);
    height:20px;
    position: sticky;
    text-align: center;
    top: 0;
}

#slab_details td{
    text-align: center;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    height:30px;
    width:100px;
}

#old_slab{
  position: absolute;
  top:34em;
  left:30em;
  width:40em;
  height: 15em;
  overflow: auto; 
}

#old_table{
  height: 15em;
  overflow: auto;
  width: 40em;
}


#old_table td{
  text-align: center;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  height:30px;
  width:130px;
}

#save{
  position: absolute;
  left:59em;
  top:30em;
}

#new{
  background-color: burlywood;
  position: absolute;
  left:20em;
  top:4em;
  font-style: italic;
  padding-bottom: 5px;
  padding-right: 5px;
  color: aliceblue;
}

#old{
  background-color: burlywood;
  position: absolute;
  left:20em;
  top:20em;
  font-style: italic;
  padding-bottom: 5px;
  padding-right: 5px;
  color: aliceblue;
}

#add{
  position: absolute;
  left:85em;
  top:23em;
}

h1{
  text-align: center;
  background-color: bisque;
  border: 1px solid red;
}

#add_info{
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  left:74em;
  top:19em;
}

#slab_info{
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  top:33em;
  left:10em;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
@media (min-width:320px)  {
  #new_slab{
    left:2em;
    width:25em;
  }

  #slab_details{
    width:20em;
  }
  #new{
    left:2em;
  }
  #add{
    left:34em;
  }
  #add_info{
    font-size: small;
    left:38em;
    top:23em;
  }
  #old_slab{
    left:2em;
    width:30em;
  }
  #old_table{
    width:25em;
  }
  #old{
    left:2em;
  }
  #slab_info{
    display: none;
  }
  #save{
    left:15em;
  }
}

@media (min-width:480px)  { 
}

@media (min-width:600px)  {
  #new_slab{
    left:5em;
  }
  #new{
    left:5em;
  }
  #add{
    left:37em;
  }
  #add_info{
    left:41em;
  }
  #old_slab{
    left:5em;
  }
  #old{
    left:5em;
  }
  #save{
    left:18em;
  }
}

@media (min-width:801px)  {
  #new_slab{
    left:10em;
  }
  #new{
    left:7em;
  }
  #add{
    left:43em;
  }
  #add_info{
    left:48em;
  }
  #old_slab{
    left:10em;
  }
  #old{
    left:7em;
  }
  #save{
    left:26em;
  }
}

@media (min-width:1025px) { 
  #new_slab{
    left:17em;
  }
  #new{
    left:12em;
  }
  #add{
    left:53em;
  }
  #add_info{
    left:58em;
  }
  #old_slab{
    left:17em;
  }
  #old{
    left:12em;
  }
  #save{
    left:35em;
  }
  #slab_info{
    display: block;
    font-size: small;;
    left:1em;
    top:45em;
  }
}

@media (min-width:1281px) {
  #new_slab{
    width:40em;
    left:19em;
  }
  #slab_details{
    width:40em;
  }
  #new{
    left:12em;
  }
  #add{
    left:73em;
  }
  #add_info{
    font-size: medium;
    top:19em;
    left:64em;
  }
  #old_slab{
    width:40em;
    left:19em;
  }
  #old_table{
    width:40em;
  }
  #old{
    left:12em;
  }
  #save{
    left:45em;
  }
  #slab_info{
    display: block;
    left:1em;
    top:40em;
  }
}

@media (min-width:1536px) {
  #new_slab{
    left:26em;
  }
  #add{
    left:80em;
  }
  #add_info{
    left:73em;
  }
  #save{
    left:54em;
  }
  #new{
    left:18em;
  }
  #old{
    left:18em;
  }
  #old_slab{
    left:26em;
  }
  #slab_info{
    left:5em;
  }
}