body{
    background-color: rgb(247, 247, 247);
    background-image: url('nfr\ logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 40em;
    background-position: center bottom;
}
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#box{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    height:20em;
    margin-left: 32em;
    margin-top: 7em;
    width: 28em;
    border-radius: 8px;
    padding-left: 1em;
    padding-top: 1em;
    background-color: #e6e1e2;
    
  }
  
#box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.fas.fa-fan.fa-spin{
    position: absolute;
    top:11.8em;
    left:35em;
    font-size: large;
}

#register,#occupancy{
    cursor: pointer;
}

h1{
    text-align: center;
    background-color: rgb(247, 255, 205);
    padding-bottom:20px;
    margin-top: 5px;
    border-style: solid;
}

.fas.fa-user-lock{
    display: none;
    position: absolute;
    top:1.2em;
    left:77em;
    font-size: large;
}

.fas.fa-user-shield{
    display: none;
    position: absolute;
    top:1.2em;
    left:77em;
    font-size: large;
}

.fas.fa-user-cog{
    display: none;
    position: absolute;
    top:1.2em;
    left:77em;
    font-size: large;
}

.fas.fa-users-cog{
    display: none;
    position: absolute;
    top:1.2em;
    left:77em;
    font-size: large;
}

#name{
    position: absolute;
    top:1.2em;
    left:79em;
    font-size: large;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    top:3.5em;
    left:88em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content span {
    float: none;
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
  }

  .dropdown-content span:hover {
    background-color: #ddd;
  }

#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15em;
    background-color: #bacee7;
    border: 2px solid #555;
    position: absolute;
    top:4.2em;
}

#nav > li a{
    display: block;
    padding-bottom: 50px;
    color: black;
    margin-top: 3em;
    margin-left: 2em;
    text-decoration: none;
}

#nav > li a:hover{
    color: white;
}

#nav > li {
    border-bottom: 1px solid #555;
}
  
#nav > li:last-child {
    border-bottom: none;
}

@media (min-width:320px)  {
    .fas.fa-user-lock,.fas.fa-user-cog,.fas.fa-users-cog,.fas.fa-user-shield{
        font-size: small;
        left:48em;
    }
    #name{
        top:0.8em;
        left:40.5em;
        font-size: medium;
    }
    .dropdown-content {
        top:2.1em;
        left:39em;
    }
    #navbar{
        position: absolute;
        top:3em;
        width: 53em;
        display: block;
        background-color: rgb(184, 217, 247);
    }
    .fas.fa-ellipsis-v{
        display: block;
        font-size: large;
    }
    h1{
        font-size: small;
        width:54em;
    }
    #nav{
        display: none;
        overflow: initial;
        width: 10em;
        top:4em;
        left:18em;
        height:35em;
        animation: fadeIn 0.5s;
        -webkit-animation: fadeIn 2s;
        -moz-animation: fadeIn 2s;
        -o-animation: fadeIn 2s;
        -ms-animation: fadeIn 2s;
    }
    
    #nav > li a{
        font-size: small;
        padding-bottom: 50px;
        margin-top: 10px;
        margin-left: 15px;
    }
    
    #nav > li a:hover{
        color: white;
    }
    
    #nav > li {
        width:10em;
        border-bottom: 1px solid #555;
        height: 5em;
    }
      
    #nav > li:last-child {
        border-bottom: none;
    }
    #box{
        width: 44em;
        margin-left:1px;
        height: 16em;
    }
    #box > p, #box > ol li{
        font-size: small;
    }
    body{
        background-position: 8em 5em;
        background-size: 30em;
    }
    .fas.fa-fan.fa-spin{
        top:10.3em;
        left:5em;
    }
    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
    
    
}

@media (min-width:480px)  { 
    .fas.fa-user-lock,.fas.fa-user-cog,.fas.fa-users-cog,.fas.fa-user-shield{
        font-size: small;
        left:28em;
    }
    #name{
        top:0.8em;
        left:24em;
        font-size: medium;
    }
    .dropdown-content {
        top:2.1em;
        left:23em;
    }
    #navbar{
        width:33em;
    }
    h1{
        width:33.5em;
    }
    #nav{
        left:10em;
    }
    #box{
        width:26em;
        height: 18em;
    }
    body{
        background-position: 5em 5em;
        background-size: 20em;
    }
}

@media (min-width:600px)  {
    .fas.fa-user-lock,.fas.fa-user-cog,.fas.fa-users-cog,.fas.fa-user-shield{
        font-size: small;
        left:39em;
    }
    #name{
        top:0.8em;
        left:33em;
        font-size: medium;
    }
    .dropdown-content {
        top:2.1em;
        left:31em;
    }
    #navbar{
        width:45em;
    }
    h1{
        width:45.9em;
    }
    #nav{
        left:12em;
        width:15em;
        height: 33em;
    }
    #box{
        width:36em;
        height: 18em;
    }
    body{
        background-position: 7em 5em;
        background-size: 25em;
    }
    #nav > li{
        width:15em;
    }
}

@media (min-width:801px)  {
    .fas.fa-user-lock,.fas.fa-user-cog,.fas.fa-users-cog,.fas.fa-user-shield{
        font-size: small;
        left:54em;
    }
    #name{
        top:0.8em;
        left:45em;
        font-size: medium;
    }
    .dropdown-content {
        top:2.1em;
        left:43em;
    }
    #navbar{
        width:60em;
    }
    h1{
        width:60.9em;
    }
    #box{
        width:48em;
        height: 16em;
    }
    body{
        background-position: 10em 5em;
        background-size: 30em;
    }
    #nav{
        left:19em;
    }
}

@media (min-width:1025px) {
    .fas.fa-user-lock,.fas.fa-user-cog,.fas.fa-users-cog,.fas.fa-user-shield{
        font-size: large;
        left:75em;
    }
    #name{
        top:1em;
        left:77em;
        font-size: large;
    }
    .dropdown-content {
        top:2.3em;
        left:86em;
    }
    #navbar{
        display: none;
    }
    .fas.fa-ellipsis-v{
        display: none;
        font-size: large;
    }
    body{
        background-size: 40em;
        background-position: 27em 4em;
    }
    #box{
        margin-left: 32em;
        width: 28em;
        height: 20em;
    }
    #box > p, #box > ol li{
        font-size: medium;
    }
    h1{
        font-size: x-large;
        padding-bottom: 1em;
        width:63em;
    }
    #nav{
        display: block;
        overflow: initial;
        width: 15em;
        top:4em;
        left:10px;
        height:34em;
    }
    
    #nav > li a{
        font-size: large;
        padding-bottom: 50px;
        margin-top: 10px;
        margin-left: 20px;
    }
    
    #nav > li a:hover{
        color: white;
    }
    
    #nav > li {
        width:15em;
        border-bottom: 1px solid #555;
        height: 5em;
    }
      
    #nav > li:last-child {
        border-bottom: none;
    }

    .fas.fa-fan.fa-spin{
        top:11.6em;
        left:35em;
    }
}

@media (min-width:1281px) {
    #name{
        top:1em;
        left:74em;
        font-size: large;
    }
    .dropdown-content {
        top:2.3em;
        left:83em;
    }
    .fas.fa-user-lock,.fas.fa-user-cog,.fas.fa-users-cog,.fas.fa-user-shield{
        font-size: large;
        left:72em;
    }
}

@media (min-width:1536px) {
}