body{
    background-color: rgb(223, 219, 217);
}

h1{
    text-align: center;
    background-color: lightskyblue;
    margin-left: 16em;
    margin-right: 10em;
    height: 40px;
    border: 2px solid black;
    border-radius: 2px;
}

.fas.fa-arrow-circle-right{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-size: 3em; 
    position: absolute; 
    top: 12.3em; 
    left: 13em; 
    display:none;
}

#box{
    box-shadow: 0 5px 8px 0 rgba(240, 236, 241, 0.26);
    transition: 0.5s;
    height:30em;
    margin-left: 8em;
    margin-top: 7em;
    border-radius: 8px;
    background-color: #ffffff;
  }
  
#box:hover {
    box-shadow: 0 8px 16px 0 rgba(203, 201, 204, 0.377);
}

#quarter{
    display: flex;
    flex-direction: row;
    border:dotted;
    padding-top: 13em;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgb(243, 241, 240);
}

#cln_name{
    position: absolute;
    top:12em;
    left: 10em;
    font-size: 20px;
    border:dotted;
    border-width: 2px;
    padding-right: 3em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1em;
    border-radius: 5px;
    background-color: rgb(252, 219, 215);
}

#cln_type{
    position: absolute;
    top:12em;
    left: 36em;
    font-size: 20px;
    border:dotted;
    border-width: 2px;
    padding-right: 6em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1em;
    background-color: rgb(252, 219, 215);
}

#qrtr_no{
    position: absolute;
    top:12em;
    left: 59em;
    font-size: 20px;
    border:dotted;
    border-width: 2px;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1em;
    background-color: rgb(252, 219, 215);
}

#emp_info{
    position: absolute;
    top:28em;
    left:10em;
    font-size: 20px;
    border:dotted;
    border-width: 2px;
    padding-right: 3em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1em;
    border-radius: 5px;
    background-color: rgb(252, 219, 215);
}

#emp_details{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: absolute;
    top:28em;
    left:38em;
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

#save{
    font-size: 20px; 
    position: absolute; 
    left: 26em; 
    top:31.5em; 
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

#reset{
    font-size: 20px; 
    position: absolute; 
    left: 59em; 
    top:31.5em; 
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

#qid{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: absolute;
    top:21em;
    left:33em;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#qrtr_id{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: absolute;
    top:21em;
    left:39em;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1300px){
    #box{
        width:100%;
    }
}

@media only screen and (max-width: 1024px){
    #qrtr_no{
        position: absolute;
        top:17em;
        left: 10em;
        padding-right: 5em;
    }

    #qid{
        position: absolute;
        top:18em;
        left:36em;
    }
    
    #qrtr_id{
        position: absolute;
        top:20em;
        left:36em;
    }

    #emp_details{
        position: absolute;
        left:36em;
    }

    #save{
        position: absolute; 
        left: 23em; 
    }

    #reset{
        position: absolute; 
        left: 36em;
    }

    h1{
        font-size: x-large;
    }

    #quarter{
        padding-top: 18em;
    }
}

@media only screen and (max-width: 768px){
    h1{
        font-size: 20px;
        margin-right: 8em;
        margin-left: 4em;
        position: relative;
        top:7em;
        left:5em;
    }

    #quarter{
        padding-top: 21em;
        padding-right: 62em;
    }

    #box{
        padding-right: 15em;
    }

    #qid{
        position: absolute;
        top:21em;
    }

    #qrtr_id{
        position: absolute;
        top:22.3em;
        left:38em;
    }

    #cln_type{
        position: absolute;
        top:16em;
        left:10em;
    }

    #qrtr_no{
        position: absolute;
        top:20em;

    }
}

@media only screen and (max-width: 540px){ 
    #box{
        width:150%;
    }
    #quarter{
        padding-right:64em;
    }
}

@media only screen and (max-width: 414px){
    h1{
        margin-right: 3em;
    }

    #box{
        width: 180%;
    }

    #save{
        left:20em;
    }

    #reset{
        left:38em;
    }

    #quarter{
        padding-right:60em;
        padding-top: 22em;
    }
}

@media only screen and (max-width: 280px){
    h1{
        font-size: medium;
        top:8em;
    }

    #cln_name,#cln_type,#qrtr_no,#qid,#qrtr_id,#emp_info,#emp_details,#save,#reset{
        font-size: medium;
    }

    #qrtr_no{
        top:21em;
    }

    .fas.fa-arrow-circle-right{
        font-size: 2em;
        position: absolute;
        top:17em;
        left:15em;
    }

    #save,#reset{
        top:40em;
    }

    #emp_info,#emp_details{
        top:32em;
    }

    #quarter{
        padding-right:44.5em;
        padding-top: 18em;
    }
}