body{
    background-color: lemonchiffon;
}

#quarter_details{
    position: absolute;
    top:15em;
    left:25em;
    width:50em;
}



#quarter_details td{
    height:40px;
}



#save{
    position: absolute;
    border: 5px;
    top:36em;
    left:40em;
}

#reset{
    position: absolute;
    top:36em;
    left:68em;
    border: 5px;
}

h2{
    text-align: center;
    background-color: lightblue;
}