body{
    background-color: blanchedalmond;
}

h1{
    background-color: rgb(170, 218, 219);
    text-align: center;
}

#fh{
    position: absolute;
    top: 5em;
    left: 10em;
    background-color: rgb(142, 231, 247);
    width:6em;
    border: 2px solid black;
}

#sh{
    position: absolute;
    top: 20em;
    left: 10em;
    background-color: rgb(146, 247, 142);
    width:6em;
    border: 2px solid black;
}

#first{

    position: absolute;
    top:14em;
    left:20em;
    width:30em;
    height: 5em;
    overflow: auto; 
}

#first_table{
    height: 5em;
    overflow: auto;
    width: 30em;
}

#second{
    background-color: rgb(228, 247, 233);
    position: absolute;
    top:35em;
    left:20em;
    width:50em;
    height: 15em;
    overflow: auto; 
}

#second_table{
    height: 15em;
    overflow: auto;
    width: 50em;
}

#reset{
    position: absolute;
    top:30em;
    left:40em;
}


@media (min-width:320px)  {
    *{
        font-size: small;
    }
    h1{
        width:26em;
    }
    #fh,#sh{
        left:1em;
        width: 25em;
        padding-bottom: 10px;
        text-align: center;
    }
    #sh{
        top:20em;
    }

    #second{
        top:26em;
    }
    #first,#second{
        width: 20em;
        left:1em;
    }
    #first_table,#second_table{
        text-align: center;
        width: 20em;
    }
    #first,#first_table{
        width: 25em;
    }
    #second,#second_table{
        width: 25em;
    }
    #first{
        top:10em;
    }
    #reset{
        top:16em;
        left:22em;
    }
    #submit{
        position: absolute;
        top:16em;
        left:3em; 
    }
}
@media (min-width:480px)  {
    h1{
        padding-left: 1em;
        width: 36em;
    }
    #fh,#sh{
        left:3em;
        width: 33em;
    }
    #sh{
        top:21em;
    }
    #first,#second{
        width: 33em;
        left:3em;
    }
    #first_table,#second_table{
        width: 33em;
    }
    #reset{
        left:32em;
    }
}
@media (min-width:600px)  {
    h1{
        width: 45em;
    }
    #fh,#sh{
        left:5em;
        width: 38em;
    }

    #first,#second{
        width: 38em;
        left:5em;
    }
    #first_table,#second_table{
        width: 38em;
    }
    #submit{
        left: 5em;
    }
    #reset{
        left: 39em;
    }
}
@media (min-width:801px)  {
    *{
        font-size: medium;
    }

    h1{
        width: 48em;
    }

    #fh,#sh{
        left:5em;
        width: 40em;
    }

    #first,#second{
        width: 40em;
        left:5em;
    }

    #first_table,#second_table{
        width: 40em;
    }
    #reset{
        left:41em;
    }
}
@media (min-width:1025px)  {
    *{
        font-size: large;
    }
    h1{
        width: 54em;
    }
    #fh,#sh{
        left: 6em;
        width: 45em;
    }
    #first,#second{
        left: 6em;
        width: 45em;
    }
    #first_table,#second_table{
        width: 45em;
    }
    #reset{
        left:47em;
    }
    #submit{
        left: 6em;
    }

}
@media (min-width:1281px)  {
    h1{
        font-size: x-large;
        width: 58em;
    }
    #fh{
        left: 15em;
        top:8em;
        width: 50em;
    }
    #sh{
        top:25em;
        left:15em;
        width: 50em;
    }
    #first{
        left: 15em;
        width: 50em;
    }
    #first{
        top:13em;
    }
    #second{
        top:29em;
    }
    #first_table{
        width: 50em;
    }
    #second,#second_table{
        left: 15em;
        width: 50em;
    }
    #submit{
        top:20em;
        left: 28em;
    }
    #reset{
        top: 20em;
        left: 50em;
    }

}
@media (min-width:1350px)  {

}
@media (min-width:1536px)  {
    h1{
        width: 63em;
    }
    #fh,#sh{
        left: 18em;
    }
    #first,#second{
        left: 18em;
    }
    #reset{
        left: 54em;
    }
}